
body{
    background-color: black;
    color: aliceblue;
}

.container{
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: center;
}

.child{
    border: 2px solid teal;
    flex-grow: 1;
    
}

div{
    font-family: Arial, Helvetica, sans-serif;
}

div > h3{
    background-color: crimson;
    inline-size: 400px;
    background-position-x: center;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large; 
    font-size: 40px;

}



img{
    width: 180px;
    height: 190px;
    border-radius: 50%;
    flex-grow: 1;
    object-fit: cover;
    border-image: 30px; color: aqua;

}